<nav class="navbar">
  <div class="container-fluid">
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <h2 class="navbar-brand" routerLink="/">Spend Wise</h2>
 
        <li class="nav-item">
          <p class="nav-link" routerLink="/">Home</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/about">About</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/contact">Contact</p>
        </li>

        <li class="nav-item reset">
          <a class="nav-link btn btn-primary" routerLink="/password-reset">Reset Password</a>
        </li>
      </ul>
    </div>
    </div>
    
    <router-outlet></router-outlet>


  
</nav>

