

.bt {
  display: flex;
  margin-left: 10px;
 align-self: center;
}




hr{
  margin-left: 7px;
  margin-right: 7px;
  color: #736f6f;
  opacity:  0.3;
}




.container {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center; 

}

.pr{
  margin-right: 14px;
  margin-top: 4px;
}
h2 {
  color: #01293a;
  align-self: center;  
  font-size: 45px;
  font-weight: bold;
  margin-top: 64px;
  margin-bottom: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  align-self: center; 
  display: inline-block;
  padding: 9px 15px;
  font-size: 18px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
  background-color: #027681;
  border: none;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}

.btn:hover {
  color: #ede1df; /* Change color on hover */
  transform: scale(1.1); /* Scale up on hover */
}

.btn:active {
  background-color: #01253f;
}









.bar-graph-container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
  width:900px;
 
}
.pie-graph-container{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 20px;
  width:500px;
}

