body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-9xl: 28px;
    --font-size-3xl: 22px;
    --font-size-6xl: 25px;
    --font-size-xl: 20px;
    --font-size-5xl: 24px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-23xl: 42px;
    --font-size-51xl: 70px;
    --font-size-37xl: 56px;
  
    /* Colors */
    --color-whitesmoke: #f8f9fa;
    --color-darkslategray-100: #42454b;
    --color-skyblue: #48cae4;
    --color-black: #000;
  
    /* Gaps */
    --gap-lgi: 19px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-mid: 17px;
  
    /* Paddings */
    --padding-8xs: 5px;
    --padding-18xl: 37px;
    --padding-xl: 20px;
    --padding-10xs: 3px;
    --padding-smi: 13px;
    --padding-6xl: 25px;
    --padding-sm: 14px;
    --padding-21xl: 40px;
    --padding-82xl: 101px;
    --padding-136xl: 155px;
  
    /* Border radiuses */
    --br-5xs: 8px;
    --br-9xs: 4px;
    --br-13xl: 32px;
  }
  