<p>
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title> Login Page</title>
      <link rel="stylesheet" href="login.component.css">
  </head>
  <body>
      <div class="container">
          <h1>Login Form</h1>
          <p> Welcome Back ! Please Login with Your Creditials </p>
  
          <form action="">
              <input type="email" id="email" name = "email" placeholder="Email">
              <input type="password" id="password" name="password" placeholder="Password">
              <div class="forgetpass">
                  <a href="">Forget Password</a>
              </div>
              <button type="submit"> Login </button>
          </form>
          
          <div class="signup"> 
              Don't Have an Account ? <a href=""> Signup</a>
          </div>
      </div>
  </body>
  </html>
    </p>
