<p><!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
    
        <link rel="stylesheet" href="./global.css" />
        <link rel="stylesheet" href="./index.css" />
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap"
        />
        <style>
            .btn {
                width: 50%;
        padding: 8px;
        font-size: 16px;
        background-color: #48cae4;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
            }
    .btn:hover {
      background-color: #0056b3; 
    }
        </style>
      </head>
      <body>
        <div class="desktop-1">
          <img class="vector-icon" alt="" src="./public/vector.svg" />
    
          <div class="to-parent">
            <h1 class="to">To</h1>
            <div class="frame-wrapper">
              <div class="welcome-parent">
                <h1 class="welcome">Welcome</h1>
                <div class="wrapper-email-input">
                  <img
                    class="email-input-icon"
                    loading="lazy"
                    alt=""
                    src="./public/vector.svg"
                  />
                </div>
              </div>
            </div>
            <div class="password-input">
              <h1 class="spendwise">SpendWise</h1>
              <div class="wrapper-login-call-to-action">
                <img
                  class="login-call-to-action"
                  loading="lazy"
                  alt=""
                  src="./public/vector-1.svg"
                />
              </div>
            </div>
          </div>
          <div class="desktop-1-inner">
            <div class="frame-parent">
              <div class="frame-container">
                <div class="login-parent">
                <form action="">
                  <div><h1 class="login">Login</h1></div>
                  <div class="welcome-back" style="text-align: left;">
                    Welcome back ! Please login with Your Credentials
                  </div>
                </div>
              </div>
              <div class="sign-in-button">
                <div class="new-user-label">
                  <div class="signup-call-to-action">
                    <div class="frame-group">
                      <div class="email-wrapper">
                        <div class="email">Email</div>
                      </div>
                      <input
                        class="frame-child"
                        placeholder="abc@gmail.com"
                        type="text"
                      />
                    </div>
                    <div class="password-parent">
                      <div class="password">Password</div>
                      <input
                        class="frame-item"
                        placeholder="********"
                        type="password"
                      />
                    </div>
                    <div class="logout-button">
                      <div class="settings-call-to-action">
                        <div class="settings-call-to-action-inner">
                        
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Rememner me</label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="new-feature-label">
                    <div class="login1">Login</div>
                  </button>
              </div>
              <div class="feature-description-wrapper">
                <div class="feature-description">
                  <div class="settings-menu-label">
                    <div class="new-user">New User ?</div>
                  </div>
                  <div class="signup"> <a href="" style="text-decoration: none;">Signup</a></div>
                </div>
              </div>
            </div>
        </form>
          </div>
        </div>
      </body>
    </html>
    </p>
