
    <form (ngSubmit)="onSubmit()">
      <div class="container">
          <h1>Login Form</h1>
          <p> Welcome Back ! Please Login with Your Creditials </p>
  
          <form action="">
              <input type="email" id="email" name = "email" placeholder="Email">
              <input type="password" id="password" name="password" placeholder="Password">
              <div class="forgetpass">
                  <a href="PassReset">Forget Password</a>
              </div>
              
              <!-- <button type="submit"> Login </button> -->
              <button routerLink="/Home" class="btn btn-primary">Login</button>
          </form>
          
          <div class="signup"> 
              Don't Have an Account ? <a href="Registration"> Signup</a>
          </div>
      </div>
 
   

      </form>
      