.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .overlap-group-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
  } 
  
  .desktop .overlap-group {
    position: relative;
  width: 500px;
  max-width: 90%; 
  height: 600px;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d9d9d9;
  border-radius: 10px;
  border: 1px solid;
  border-color: #080808;
  /* padding: 25px; */
  }
  @media screen and (max-width: 768px) {
    .desktop .overlap-group {
      width: 90%;
      height: auto;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      /* padding:10px; */
    }
    
  }
  
  
  @media screen and (max-width: 480px) {
    .desktop .overlap-group {
      width: 90%;
      height: auto;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      /* padding: 5px; */
    }
   
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 427px;
    height: 117px;
    top: 12px;
    left: 5%;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #0c054b;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .div {
    position: absolute;
    width: 152px;
    height: 29px;
    top: 130px;
    left: 25px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #383333;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 142px;
    height: 34px;
    top: 220px;
    left: 30px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3939;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    width: 105px;
    height: 32px;
    top: 320px;
    left: 70px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #333232;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    width: 198px;
    height: 30px;
    top: 420px;
    left: 65px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #3a3535;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 353px;
    height: 62px;
    top: 656px;
    left: 163px;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
    background: linear-gradient(180deg, rgb(63.51, 79.63, 164.25) 0%, rgb(115, 115, 115) 100%);
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    width: 182px;
    height: 35px;
    top: 530px;
    left: 30%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color:black;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border-color: #080808;
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  .desktop .text-wrapper-5:hover {
    background-color: rgb(14, 37, 102); 
    color:white;
  }
  
  .desktop .text-wrapper-6 {
    position: absolute;
    width: auto ;
    height: 42px;
    top: 570px;
    left:  35%;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-left:5px;
  }
  
  .desktop .text-wrapper-7 {
    position: absolute;
    width: auto ;
    top: 570px;
    left: 55%;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #0018f1;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    border: none;
    background-color: #d9d9d9;
    transition: background-color 0.3s ease;
  }
  
 
  /* .desktop .text-wrapper-7 {
    position: absolute;
    top: 570px;
    width: auto; 
    margin-left:1%;
  } */
  .desktop .text-wrapper-7:hover {
    background-color: lightgreen; 
  }
  
  input {
    position: absolute;
    width: 350px; 
    height: 30px; 
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
  }
  input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }
  input:focus::placeholder {
    border-color: rgb(173, 175, 230); 
    visibility: hidden;
   
  }
  
  #name{
    position: absolute;
    top: 165px; 
    left: 14%;
  }
  #email{
    position: absolute;
    top: 260px; 
    left: 14%;
  }
  #password{
    position: absolute;
    top: 360px; 
    left: 14%;
  }
  #confirmPassword{
    position: absolute;
    top: 460px; 
    left: 14%;
  }
  