<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="passreset.component">
</head>
<body>
    <div class="div">
        <div class="div-2">
            <div class="div-3">Reset password</div>
            <div class="div-4">Please enter your email to reset the password</div>
            <div class="div-5">New Password</div>
            <div class="password-container">
                <input type="text" id="new-password" name="new-password" placeholder="New Password" class="show-password">
                <i class="fas fa-eye-slash toggle-password"></i>
            </div>
            <div class="div-6">Confirm Password</div>
            <div class="password-container">
                <input type="text" id="confirm-password" name="confirm-password" placeholder="Confirm Password" class="show-password">
                <i class="fas fa-eye-slash toggle-password"></i>
            </div>
            <button class="submit-btn">Update Password</button>
        </div>
    </div>

</body>
</html>
