<div class="filter-container">
  <select id="category" name="category" required class="w-full px-3 py-2 border rounded-md" [(ngModel)]="formData.category" #categoryInput="ngModel">
    <ng-container>
      <option [ngValue]="null" disabled>Select Category</option>
    </ng-container>
    <option *ngFor="let category of categories" [ngValue]="category">{{ category.categoryName }}</option>
  </select>
<!-- <input type="date" [(ngModel)]="startDate" (change)="filterExpenses()">
<input type="date" [(ngModel)]="endDate" (change)="filterExpenses()"> -->
</div>
<table>
  <thead>
    <tr>
      <th>S.No.</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date of Expense</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of expenses; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ expense.description }}</td>
      <td>{{ expense.category.categoryName }}</td>
      <td>{{ expense.amount }}</td>
      <td>{{ expense.date }}</td>
      <td><button *ngIf="expense.expenseId !== undefined" (click)="editExpense(expense.expenseId)">Edit</button></td>
      <td><button *ngIf="expense.expenseId !== undefined" (click)="deleteExpense(expense.expenseId)">Delete</button></td>
    </tr>>
  </tbody>
</table>
<div class="pagination-controls">
  Items per page:
  <!-- <select [(ngModel)]="itemsPerPage" (change)="changeItemsPerPage(itemsPerPage)">
    <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
  </select>
  <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="itemsPerPage" (page)="changePage($event)" showFirstLastButtons></mat-paginator> -->
</div>